<main
  class='container mx-auto px-4 prose lg:prose-lg mb-6 pt-6 text-center'
  id='profile'
>
  <h1 class='profile-header'>Profile</h1>
  <div
    class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2'
  >
    <section
      class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300'
    >
      <h3 class='current-info mb-3'><strong>Your Current Information</strong></h3>
      <p class='first-name'><strong>First Name: </strong>{{user.firstName}}</p>
      <p class='last-name'><strong>Last Name: </strong>{{user.lastName}}</p>
      <p class='email-profile'><strong>Email: </strong>{{user.email}}</p>

      <form
        method='PUT'
        action='/api/users/update'
        id='profile-form'
        class='profile-form'
      >
        <h3 class='edit-profile mt-3'><strong>Edit Profile</strong></h3>
        <label for='firstName' class='change-first-name'><strong>Change First
            Name:</strong></label>
        <input
          type='text'
          id='profile-firstName'
          name='firstName'
          placeholder='{{user.firstName}}'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <label for='lastName' class='change-last-name'><strong>Change Last Name:</strong></label>
        <input
          type='text'
          id='profile-lastName'
          name='lastName'
          placeholder='{{user.lastName}}'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <label for='email' class='change-email'><strong>Change Email:</strong></label>
        <input
          type='email'
          id='profile-email'
          name='email'
          placeholder='{{user.email}}'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <button type='submit' class='save-changes mt-5'>Save Changes</button>
      </form>
    </section>

    <section
      class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300'
    >
      <form method='PUT' action='/api/users/reset' id='password-form'>
        <h3 class='reset-password-text'><strong>Reset Password</strong></h3>
        <label for='currentPassword' class='current-password'><strong>Current
            Password:</strong></label>
        <input
          type='password'
          id='currentPassword'
          name='currentPassword'
          placeholder='********'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <label for='newPassword' class='new-password'><strong>New Password:</strong></label>
        <input
          type='password'
          id='newPassword'
          name='newPassword'
          placeholder='********'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <label for='confirmPassword' class='confirm-new-password'><strong
          >Confirm New Password:</strong></label>
        <input
          type='password'
          id='confirmPassword'
          name='confirmPassword'
          placeholder='********'
          class='input input-bordered w-full max-w-xs'
        />
        <br />
        <button type='submit' class='reset-password mt-5'>Reset Password</button>
      </form>
    </section>
  </div>
</main>

<script src='/js/profile.js'></script>
```
